<h1> VEM VACINA </h1>
<% if current_user %>
  Bem vindo <%= current_user.nome %>
  </br>
  <%= link_to "Sair", logout_path %>
<% else %>
  <%= link_to "Cadastrar-se", new_usuario_path %> or 
  <%= link_to "Logar-se", login_path %>
<% end %>
<p id="notice"><%= notice %></p>

<% if current_user %>
  </br>
  <h5> USUARIO </h5>
  <%= link_to 'Mostrar Usuario', @current_user %>

  <h5> VACINACÃO </h5>
  <%= link_to 'Nova Vacinação', new_vacinacao_path %>
  </br>
  <%= link_to 'Mostrar Vacinação', vacinacaos_path %>

<% else %>
  Você precisa está logado para ter acesso
<% end %>