<%= form_with(model: vacinacao, local: true) do |form| %>
  <% if vacinacao.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(vacinacao.errors.count, "error") %> prohibited this vacinacao from being saved:</h2>

      <ul>
        <% vacinacao.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nome_vacina %>
    <%= form.text_field :nome_vacina %>
  </div>

  <div class="field">
    <%= form.label :descricao_localizacao %>
    <%= form.text_area :descricao_localizacao %>
  </div>

  <div class="field">
    <%= form.label :data %>
    <%= form.date_field(:data, :start_year =>2021, :end_year =>2050) %>
  </div>

  <div class="field">
    <%= form.label :horario %>
    <%= form.time_select :horario %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
