<p id="notice"><%= notice %></p>

<h1>Vacinacaos</h1>

<table>
  <thead>
    <tr>
      <th>Nome vacina</th>
      <th>Descricao localizacao</th>
      <th>Data</th>
      <th>Horario</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @vacinacaos.each do |vacinacao| %>
      <tr>
        <td><%= vacinacao.nome_vacina %></td>
        <td><%= vacinacao.descricao_localizacao %></td>
        <td><%= vacinacao.data.strftime('%d/%m/%Y') %></td>
        <td><%= vacinacao.horario.strftime('%H:%M') %></td>
        <td><%= link_to 'Mostrar', vacinacao %></td>
        <td><%= link_to 'Editar', edit_vacinacao_path(vacinacao), id: "e-#{nome_vacina}" %></td>
        <td><%= link_to 'Deletar', vacinacao, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nova Vacinacao', new_vacinacao_path %>
<%= link_to 'Voltar', root_path %>
