<p id="notice"><%= notice %></p>

<p>
  <strong>Nome vacina:</strong>
  <%= @vacinacao.nome_vacina %>
</p>

<p>
  <strong>Descricao localizacao:</strong>
  <%= @vacinacao.descricao_localizacao %>
</p>

<p>
  <strong>Data:</strong>
  <%= @vacinacao.data.strftime('%d/%m/%Y') %>
</p>

<p>
  <strong>Horario:</strong>
  <%= @vacinacao.horario.strftime('%H:%M') %>
</p>

<%= link_to 'Editar', edit_vacinacao_path(@vacinacao) %> |
<%= link_to 'Voltar', root_path %>
